{% extends "base.html" %}

{% block content %}
<head>
    <meta charset="utf-8" />
    <div class="task-sec" id="task">
        <div class="overlay">
        </div>
    </div>


    <datalist name="grouplist" id="grouplist">
        {% for name in group %}
            <option value="{{ name }}"></option>
        {% endfor %}
    </datalist>

    <datalist name="prioritylist" id="prioritylist">
        {% for i in range %}
            <option value="{{ forloop.counter }}"></option>
        {% endfor %}
    </datalist>

<div id="features-sec" class="container set-pad" >
    <div class="row text-center">
        <div class="col-lg-8 col-lg-offset-2 col-md-8 col-sm-8 col-md-offset-2 col-sm-offset-2">
            <p data-scroll-reveal="enter from the bottom after 0.3s" ></p>
                <h1 data-scroll-reveal="enter from the bottom after 0.2s"  class="header-line">DODAJ ZADANIE</h1>
                <form action="/task_list/add_task/adding" method="post">
                    {% csrf_token %}
                    <table class="table table-bordered">
                        <tr><th>NAZWA:</th></tr>
                        <tr><th><input type="text" name="name" value="" id="name" placeholder="np. Posprzątać pokój"/></th></tr>
                        <tr><th>GRUPA:</th></tr>
                        <tr><th><input type="text" name="group" id="group" list="grouplist"></th></tr>
                        <tr><th>OPIS:</th></tr>
                        <tr><th><textarea name="description" rows="8" style='width:100%' id="description" wrap="soft" placeholder="np. Posprzątać pokój, umyć meble i podłogę"></textarea></th></tr>
                        <!--
                        <tr><th>PRIORYTET:</th></tr>
                        <tr><th><input type="text" name="priority" id="priority" list="prioritylist"></th></tr>
                        -->
                        <tr><th><input type="submit" value="DODAJ"/></th></tr>
                    </table>
                </form>
            </div>
        </div>
    </div>
</head>

{% endblock %}