{% load static from staticfiles %}

<html>
    <html lang="pl-PL">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="description" content="Task List" />
    <meta name="author" content="Michał Warski" />
    <title>Internet Databases Site</title>
    <!-- BOOTSTRAP CORE STYLE CSS -->
    <link rel="stylesheet" href="{% static 'admin/css/bootstrap.css' %}">
    <!-- FONT AWESOME CSS -->
    <link rel="stylesheet" href="{% static 'admin/css/font-awesome.min.css' %}">
    <!-- FLEXSLIDER CSS -->
    <link rel="stylesheet" href="{% static 'admin/css/flexslider.css' %}">
    <!-- CUSTOM STYLE CSS -->
    <link rel="stylesheet" href="{% static 'admin/css/style.css' %}">
    <!-- Google	Fonts -->
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

</head>

{% include "header.html" %}
{% include "menu.html" %}

{% block content %}


{% endblock %}

{% include "footer.html" %}

</html>