{% extends "base.html" %}

{% block content %}
<head>
<style>
  #map {width: 100%;
        height: 400px;
        background-color: grey; }
</style>

    <div class="cont-sec" id="task">
        <div class="overlay">
        </div>
    </div>

     <div id="features-sec" class="container set-pad" >
         <div class="row text-center">
             <div class="col-lg-8 col-lg-offset-2 col-md-8 col-sm-8 col-md-offset-2 col-sm-offset-2">
                 <h1 data-scroll-reveal="enter from the bottom after 0.2s"  class="header-line">MAPA KONTAKTOWA</h1>
                     <p data-scroll-reveal="enter from the bottom after 0.3s" >
                      <div id="map"></div>
                     </p>
            </div>
        </div>

<script>
    function initMap()
    {
        var mapDiv = document.getElementById('map');
        var map = new google.maps.Map(mapDiv, {
        center: {lat: 50.3267421, lng: 19.1920083}, zoom: 18 });
    }
</script>

<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBmcWxclGgJCtoGN_0e2gg4rAx1qxeeOdw&callback=initMap">
</script>

    <div class="row text-center">
        <div class="col-lg-8 col-lg-offset-2 col-md-8 col-sm-8 col-md-offset-2 col-sm-offset-2">
            <p data-scroll-reveal="enter from the bottom after 0.3s" ></p>
                <h1 data-scroll-reveal="enter from the bottom after 0.2s"  class="header-line">FORMULARZ KONTAKTOWY</h1>
                <form action="/mails/contact/sending" method="post">
                    {% csrf_token %}
                    <table class="table table-bordered">
                        <tr><th><input type="text" name="sender" value="" id="user" placeholder="TWOJE IMIĘ"/></th></tr>
                        <tr><th><input type="email" name="e-mail" value="" id="e-mail" placeholder="TWOJ ADRES E-MAIL"></th></tr>
                        <!--<tr><th><input type="textarea" rows="10" name="content" value="" id="content" placeholder="TREŚĆ MAILA"></textarea></th></tr>-->
                        <tr><th><textarea name="message" rows="8" style='width:100%' id="message" wrap="soft" placeholder="TREŚĆ MAILA"></textarea></th></tr>
                        <tr><th><input type="submit" value="WYŚLIJ"/></th></tr>
                    </table>
                </form>
            </div>
        </div>
        <!--
    <div class="row set-row-pad"  data-scroll-reveal="enter from the bottom after 0.5s" >
        <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2">
          <div class="row text-center">
            <h1 data-scroll-reveal="enter from the bottom after 0.2s"  class="header-line">FORMULARZ KONTAKTOWY</h1>
            <form>
                <div class="form-group">
                    <input type="text" class="form-control "  required="required" placeholder="Twoje imię" />
                </div>
                <div class="form-group">
                    <input type="text" class="form-control " required="required"  placeholder="Twój adres email" />
                </div>
                <div class="form-group">
                    <textarea name="message" required="required" class="form-control" style="min-height: 150px;" placeholder="Wiadomość"></textarea>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-info btn-block btn-lg">WYŚLIJ</button>
                </div>
            </form>
          </div>
        </div>
    </div>
         -->
    </div>
</head>

{% endblock %}