{% extends "base.html" %}

{% block content %}
<body>
    <meta charset="utf-8" />
   <div class="cour-sec" id="task">
       <div class="overlay">
       </div>
   </div>

    <div id="features-sec" class="container set-pad" >
        <div class="row text-center">
            <div style="padding-bottom:30px" class="col-lg-12 col-lg-offset-0 col-md-12 col-sm-12 col-md-offset-0 col-sm-offset-0">
                <h1 data-scroll-reveal="enter from the bottom after 0.2s"  class="header-line">KURSY</h1>
                    <table class="table table-bordered table-condensed table-hover table-striped">
                        {% for i in col_name %}
                            <th> {{ i }} </th>
                        {% endfor %}
                        {% for i in list %}
                        <tr>
                            <td style ="vertical-align:middle"> {{ forloop.counter }} </td>
                            <td style ="vertical-align:middle"> {{ i.0 }} </td>
                            <td style ="vertical-align:middle"> {{ i.1 }} </td>
                            <td style="text-align:center; vertical-align: middle"> {{ i.2 }} </td>
                            <td style="text-align:center; vertical-align: middle"> {{ i.3 }} </td>
                            {% if i.4 = 0 %}
                                <td style="text-align:center; vertical-align: middle"><input type="checkbox"> </td>
                            {% else %}
                                <td style="text-align:center; vertical-align: middle"><input type="checkbox" checked> </td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </table>
                    </p>
                <hr>
            </div>
        </div>
    </div>

</body>

{% endblock %}