{% extends "base.html" %}

{% block content %}
<head>
   <meta charset="utf-8" />
   <div class="task-sec" id="task">
       <div class="overlay">
       </div>
   </div>

    <div id="features-sec" class="container set-pad" >
        <div class="row text-center">
            <div style="padding-bottom:30px" class="col-lg-12 col-lg-offset-0 col-md-12 col-sm-12 col-md-offset-0 col-sm-offset-0">
                <h1 data-scroll-reveal="enter from the bottom after 0.2s"  class="header-line">USUŃ ZADANIA</h1>
                    <form action="/task_list/deleting_task/" method="post">
                    {% csrf_token %}
                    <table class="table table-bordered table-striped table-hover table-condensed">
                        {% for i in col_name %}
                            <th> {{ i }} </th>
                        {% endfor %}
                        {% for i in list %}
                        <tr>
                            <td style ="vertical-align:middle"><input type="checkbox" name="delete_list" value="'{{ i.4 }}'"></td>
                            <td style ="vertical-align:middle"> {{ i.0 }} </td>
                            <td style ="vertical-align:middle"> {{ i.1 }} </td>
                            <td style ="vertical-align:middle"> {{ i.2 }} </td>
                            {% if i.3 = 0 %}
                                <td style="text-align:center; vertical-align: middle"><input type="checkbox" name="checked" value="'{{ i.4 }}'"> </td>
                            {% else %}
                                <td style="text-align:center; vertical-align: middle"><input type="checkbox" name="checked" value="'{{ i.4 }}'" checked> </td>
                            {% endif %}
                                <td style="display:none"><input name="task_list_id" value="'{{ i.4 }}'"></td>
                        </tr>
                        {% endfor %}
                    </table>
                    <hr>

                    <div style="padding-bottom:30px"
                     class="col-lg-2 col-lg-offset-0 col-md-2 col-sm-2 col-md-offset-0 col-sm-offset-0">
                    <input type="submit" value="USUŃ ZAZNACZONE">
                    </div>
                </form>
            </div>
        </div>
    </div>


</head>
{% endblock %}