{% block footer %}

    <div id="footer">
              Wyższa Szkoła Biznesu w Dąbrowie Górniczej | All Rights Reserved | Modern by:
            <a href="mailto:mwarski.zms@gmail.com" style="color: #fff" target="_blank">mwarski.zms@gmail.com</a>
        </div>

{% endblock %}