{% load static from staticfiles %}

<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta name="keywords" content="" />
        <meta name="description" content="Internetowe Bazy Danych" />
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<title>Internetowe Bazy Danych</title>
        <link href="http://fonts.googleapis.com/css?family=Bitter" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="{% static 'admin/css/style.css' %}">
    </head>
    <body>
		<div id="bg">
			<div id="outer">
				<div id="header">
					<div id="logo">
						<h1>
							<a href="#">Serious Face</a>
						</h1>
					</div>
					<div id="search">
						<form action="" method="post">
							<input class="text" name="search" size="32" maxlength="64" /><input class="button" type="submit" value="Search" />
						</form>
					</div>
					<div id="nav">
						<ul>
							<li class="first active">
								<a href="#">Home</a>
							</li>
							<li>
								<a href="#">Services</a>
							</li>
							<li>
								<a href="#">Our Clients</a>
							</li>
							<li>
								<a href="#">Support</a>
							</li>
							<li>
								<a href="#">Blog</a>
							</li>
							<li>
								<a href="#">About</a>
							</li>
							<li class="last">
								<a href="#">Contact</a>
							</li>
						</ul>
						<br class="clear" />
					</div>
				</div>
				<div id="banner">
					<img src="{% static 'images/pic1.jpg' %}" width="932" height="172" alt="" />
				</div>
				<div id="main">
					<div id="sidebar">
						<h3>
							Auctor lacus
						</h3>
						<ul class="linkedList">
							<li class="first">
								<a href="#">Vitae et suspendisse integer dolore</a>
							</li>
							<li>
								<a href="#">Molestie magnis sed amet nascetur</a>
							</li>
							<li>
								<a href="#">Augue sagittis dolor</a>
							</li>
							<li>
								<a href="#">Orci lectus leo urna</a>
							</li>
							<li>
								<a href="#">Odio volutpat vivamus</a>
							</li>
							<li class="last">
								<a href="#">Porttitor fermentum amet commodo</a>
							</li>
						</ul>
						<h3>
							Varius
						</h3>
						<div class="dateList">
							<ul class="linkedList">
								<li class="first">
									<a href="#">Sapien et nascetur</a>
								</li>
								<li>
									<a href="#">Nascetur sed vivamus</a>
								</li>
								<li>
									<a href="#">Nisi amet et sagittis</a>
								</li>
								<li>
									<a href="#">Duis cras lorem odio</a>
								</li>
								<li class="last">
									<a href="#">Sed consequat purus</a>
								</li>
							</ul>
						</div>
					</div>
					<div id="content">
						<div id="box1">
							<h2>
								Welcome to Serious Face
							</h2><img class="left" src="images/pic2.jpg" width="184" height="184" alt="" />
							<p>
								This is <strong>Serious Face</strong>, a two column CSS template by
								<a href="http://nodethirtythree.com/">nodethirtythree</a> + <a href="http://templated.org/">Templated.org</a> with photos from 
								<a href="http://www.pdphoto.org/">PDPhoto</a>. It's released (for free) under the
								<a href="http://templated.org/license/">Creative Commons Attribution 3.0 license</a>,
								so feel free to use it for any personal or commercial work, just keep our footer credit links intact.
								Hit up our <a href="http://templated.org/">website</a> for more awesomely
								cool free templates, and follow us on <a href="http://twitter.com/templatedorg">Twitter</a>
								(<a href="http://twitter.com/templatedorg">@templatedorg</a>) for updates, announcements, and other
								mildly interesting ramblings.
							</p>
						</div>
						<div id="box2">
							<h3>
								Parturient amet blandit
							</h3>
							<ul class="imageList">
								<li class="first">
									<img class="left" src="images/pic2.jpg" width="72" height="72" alt="" /> <span>Iaculis risus lectus tortor libero nisl quisque nunc mauris parturient amet suspendisse in porta.</span>
								</li>
								<li>
									<img class="left" src="images/pic2.jpg" width="72" height="72" alt="" /> <span>Lacinia tristique dis cras mattis ultricies massa leo metus rhoncus augue nascetur suscipit velit.</span>
								</li>
								<li class="last">
									<img class="left" src="images/pic2.jpg" width="72" height="72" alt="" /> <span>Nunc integer sed arcu vitae nascetur placerat magnis donec proin fusce neque elementum nulla.</span>
								</li>
							</ul>
						</div>
						<div id="box3">
							<h3>
								Aenean accumsan
							</h3><img class="top" src="images/pic1.jpg" width="360" height="155" alt="" />
							<p>
								Parturient cras orci augue parturient. Cursus donec elementum consectetur consequat. Mattis ultricies 
								amet consequat magna non vel placerat lorem ipsum dolore sit amet nullam consequat. Lacinia tristique
								dis cras mattis ultricies.
							</p>
						</div>
						<br class="clear" />
					</div>
					<br class="clear" />
				</div>
			</div>
			<div id="copyright">
				&copy; Your Site Name | Design: <a href="http://templated.org/free-css-templates/seriousface/">Serious Face</a> by <a href="http://nodethirtythree.com">nodethirtythree</a> + <a href="http://templated.org/">Templated.org</a>
			</div>
		</div>
    </body>
</html>
