{% extends "base.html" %}

{% load static from staticfiles %}

{% block content %}



        <div class="home-sec" id="home">
           <div class="overlay">

           </div>

        </div>


       <!--HOME SECTION END-->
    <div  class="tag-line" >
         <div class="container">
           <div class="row  text-center" >

               <!--
               <div class="col-lg-12  col-md-12 col-sm-12">
                    {{ language }}
                    {{ session_language }}
                -->
       <!--<h2 data-scroll-reveal="enter from the bottom after 0.1s" > "POTRZEBA JEST NAUCZYCIELKĄ ŻYCIA"  </h2>-->
                   </div>
               </div>
             </div>

    </div>
    <!--HOME SECTION TAG LINE END-->
         <div id="features-sec" class="container set-pad" >
             <div class="row text-center">
                 <div class="col-lg-8 col-lg-offset-2 col-md-8 col-sm-8 col-md-offset-2 col-sm-offset-2">
                     <h1 data-scroll-reveal="enter from the bottom after 0.2s"  class="header-line">TWOJE ZADANIA</h1>
                 </div>

             </div>
             <!--/.HEADER LINE END-->


           <div style="padding-bottom:30px" class="row">
                 <div class="col-lg-4  col-md-4 col-sm-4" data-scroll-reveal="enter from the bottom after 0.4s">
                     <div class="about-div">
                     <i class="fa fa-paper-plane-o fa-4x icon-round-border" ></i>
                   <h3>POSTAWIONE CELE</h3>
                 <hr />
                       <hr />
                   <p >
                       Łatwiej jest osiągnąć sukces, realizując postawione sobie zadania.

                   </p>
               <!--<a href="#" class="btn btn-info btn-set"  >ASK THE EXPERT</a>-->
                </div>
                   </div>
                   <div class="col-lg-4  col-md-4 col-sm-4" data-scroll-reveal="enter from the bottom after 0.5s">
                     <div class="about-div">
                     <i class="fa fa-bolt fa-4x icon-round-border" ></i>
                   <h3>SYSTEMATYCZNOŚĆ</h3>
                 <hr />
                       <hr />
                   <p>
                       Dwie godziny to nic. Ale pomnożone przez ilość dni w ciągu roku to ponad 700 godzin.

                   </p>
               <!--<a href="#" class="btn btn-info btn-set"  >ASK THE EXPERT</a>-->
                </div>
                   </div>
                 <div class="col-lg-4  col-md-4 col-sm-4" data-scroll-reveal="enter from the bottom after 0.6s">
                     <div class="about-div">
                     <i class="fa fa-magic fa-4x icon-round-border" ></i>
                   <h3>NAUKA PRZEZ NAUKĘ</h3>
                 <hr/>
                       <hr/>
                   <p>
                       Według taksonomii Blooma, jesteśmy w stanie nauczyć się więcej ucząc kogoś.
                   </p>
               <!--<a href="#" class="btn btn-info btn-set"  >ASK THE EXPERT</a>-->
                   </div>
               </div>
            </div>
        </div>

   <!-- FEATURES SECTION END-->



{% endblock %}
