{% extends 'base.html' %}

{% block content %}

    <div class="login-sec" id="task">
       <div class="overlay">
       </div>
    </div>


    <h2>Your login details are invalid!</h2>
    <p>Click <a href="/accounts/login/">here</a> to login again.</p>

{% endblock %}