{% extends 'base.html' %}

{% block content %}

    <div class="logged_in-sec" id="login">
       <div class="overlay">
       </div>
    </div>

        <h2>Witaj {{ user.first_name }} {{ user.last_name }}, zalogowałeś się poprawnie!</h2>
        <h2>Twój adres email to {{ user.email }}</h2>
        <p>Kliknij <a href="/accounts/logout/">TUTAJ</a>, żeby się wylogować.</p>

{% endblock %}