{% load static from staticfiles %}

{% block content %}

<body>
    <div class="navbar navbar-inverse navbar-fixed-top " id="menu">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/"><img class="logo-custom" src="{% static 'admin/img/wsb_logo.png' %}" alt=""  /></a>

            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            </div>
            <div class="navbar-collapse collapse move-me">
                <ul class="nav navbar-nav navbar-right">
                         <li><a href="/">START</a></li>
                     {% if not is_login %}
                         <li><a href="/courses">KURSY</a></li>
                         <li><a href="/contact">KONTAKT</a></li>
                         <li><a href="/accounts/login">ZALOGUJ SIĘ</a></li>
                         <li><a href="/accounts/registration">ZAREJESTRUJ SIĘ</a></li>
                     {% else %}
                         <li><a href="/task_list">LISTA ZADAŃ</a></li>
                         <!--<li><a href="/progress">PROGRESS</a></li>-->
                         <li><a href="/courses">KURSY</a></li>
                         <li><a href="/contact">KONTAKT</a></li>
                         <li><a href="/accounts/logout">WYLOGUJ SIĘ</a></li>
                     {% endif %}
                </ul>
            </div>
        </div>
    </div>
</body>

{% endblock %}