{% extends "base.html" %}

{% block content %}

<head>

    <div class="prog-sec" id="task">
       <div class="overlay">
       </div>
    </div>

    <div id="features-sec" class="container set-pad" >
        <div class="row text-center">
            <div class="col-lg-8 col-lg-offset-2 col-md-8 col-sm-8 col-md-offset-2 col-sm-offset-2">
                <h1 data-scroll-reveal="enter from the bottom after 0.2s"  class="header-line">PROGRESS</h1>
                    <p data-scroll-reveal="enter from the bottom after 0.3s" ></p>
                        {% for task in list %}
                            <h3> {{ task }} </h3>
                        {% endfor %}
                        {% for task in dict %}
                            <h3> {{ task }} </h3>
                        {% endfor %}
                    </p>
                <hr>
            </div>
        </div>
    </div>


</head>


{% endblock %}