{% extends 'base.html' %}

{% block content %}

    <div class="registration-sec" id="registration">
       <div class="overlay">
       </div>
    </div>


        {% if form.errors %}
        <p class="error">Sorry, that's not a valid username or password</p>
        {% endif %}


 <div id="features-sec" class="container set-pad" >
    <div class="row text-center">
        <div class="col-lg-8 col-lg-offset-2 col-md-8 col-sm-8 col-md-offset-2 col-sm-offset-2">
            <p data-scroll-reveal="enter from the bottom after 0.3s" ></p>
                <h1 data-scroll-reveal="enter from the bottom after 0.2s"  class="header-line">REJESTRACJA</h1>
                <form action="/accounts/signing_up/" method="post">
                    {% csrf_token %}
                    <table class="table table-bordered">
                        <tr><th><input type="text" name="first_name" value="" id="first_name" placeholder="IMIĘ"/></th></tr>
                        <tr><th><input type="text" name="last_name" value="" id="last_name" placeholder="NAZWISKO"/></th></tr>
                        <tr><th><input type="email" name="email" value="" id="email" placeholder="E-MAIL"/></th></tr>
                        <tr><th><input type="password" name="password" value="" id="password" placeholder="HASŁO"></th></tr>
                        <tr><td><label><input type="checkbox" value="4" checked>IV semestr</label></td></tr>
                        <tr><th><input type="submit" value="ZAREJESTRUJ SIĘ"/></th></tr>
                    </table>
                </form>
            </div>
        </div>
    </div>


{% endblock %}
