{% extends 'base.html' %}

{% block content %}

    <div class="login-sec" id="login">
       <div class="overlay">
       </div>
    </div>

                {% if form.errors %}
                    <p class="error">Sorry, that's not a valid username or password</p>
                {% endif %}


 <div id="features-sec" class="container set-pad" >
    <div class="row text-center">
        <div class="col-lg-8 col-lg-offset-2 col-md-8 col-sm-8 col-md-offset-2 col-sm-offset-2">
            <p data-scroll-reveal="enter from the bottom after 0.3s" ></p>
                <h1 data-scroll-reveal="enter from the bottom after 0.2s"  class="header-line">WYSYŁANIE WIADOMOŚCI</h1>
                    <table class="table table-bordered">
                        <tr><th>Twoje imię:</th><th>{{ args.sender }}</th></tr>
                        <tr><th>Odbiorca:</th><th>{{ args.recivers }}</th></tr>
                        <tr><th>Nadawca:</th><th>{{ args.email }}</th></tr>
                        <tr><th>Wiadomość:</th><th>{{ args.message }}</th></tr>
                        <tr><th>smtpObj:</th><th>{{ args.smtpObj }}</th></tr>
                    </table>
        </div>
    </div>
</div>


{% endblock %}
