{% extends 'base.html' %}

{% block content %}

    <div class="logged_in-sec" id="login">
       <div class="overlay">
       </div>
    </div>

        <h2>Witaj {{ user.first_name }} {{ user.last_name }}, zarejestrowałeś się poprawnie!</h2>
        <h2>Twój login to {{ user.username }}</h2>
        <p>Kliknij <a href="/accounts/login/">TUTAJ</a>, żeby się zalogować.</p>

{% endblock %}