﻿/*=============================================================
    Authour URI: www.binarytheme.com
    License: Commons Attribution 3.0

    http://creativecommons.org/licenses/by/3.0/

    100% To use For Personal And Commercial Use.
    IN EXCHANGE JUST GIVE US CREDITS AND TELL YOUR FRIENDS ABOUT US
   
    ========================================================  */

/* =============================================================
   GENERAL STYLES
 ============================================================ */
body {
    font-family: 'Open Sans', sans-serif;
    line-height: 30px;
    font-size: 14px;
}

.set-pad {
    padding-top:35px;
}
.set-row-pad {
    padding-top:30px;
    padding-bottom:50px;
}
/*=====================================
  NAVBAR STYLES 
    ===================================*/

.logo-custom {
    max-height: 40px;
}

#menu {
    background-color: rgba(28, 43, 75, 1);
    color: #fff;
    font-size: 12px;
    font-weight: 900;
    letter-spacing: 1px;
    min-height: 70px;
}


.navbar-inverse {
    border-color: transparent;
}

    .navbar-inverse .navbar-nav > li > a, .navbar-inverse .navbar-nav > li > a:hover {
        color: #FFF;
        padding: 22px 10px;
    }

/*=====================================
  TASK_LIST STYLES
    ===================================*/


.task-sec {
    padding-top: 10px;
    padding-bottom: 60px;
    background: url(../img/task_list.jpg) no-repeat center center;
    padding: 0;
    -webkit-background-size: cover;
    background-size: cover;
    color: #fff;
    background-attachment: fixed;
}

    .task-sec .overlay {
        background: rgba(38, 57, 88, 0.89);
        min-height: 600px;
    }

    .task-sec h1 {
        color: #fff;
        font-weight: 900;
        font-size: 30px;
        text-transform: uppercase;
        padding-top: 90px;
        padding-bottom: 35px;
    }

    .task-sec h3 {
        text-transform: uppercase;
    }

/*=====================================
  REGISTRATION STYLES
    ===================================*/


.registration-sec {
    padding-top: 10px;
    padding-bottom: 60px;
    background: url(../img/registration.jpg) no-repeat center center;
    padding: 0;
    -webkit-background-size: cover;
    background-size: cover;
    color: #fff;
    background-attachment: fixed;
}

    .registration-sec .overlay {
        background: rgba(38, 57, 88, 0.89);
        min-height: 600px;
    }

    .registration-sec h1 {
        color: #fff;
        font-weight: 900;
        font-size: 30px;
        text-transform: uppercase;
        padding-top: 90px;
        padding-bottom: 35px;
    }

    .registration-sec h3 {
        text-transform: uppercase;
    }



/*=====================================
  CONTACT STYLES
    ===================================*/


.cont-sec {
    padding-top: 10px;
    padding-bottom: 60px;
    background: url(../img/contact.jpg) no-repeat center center;
    padding: 0;
    -webkit-background-size: cover;
    background-size: cover;
    color: #fff;
    background-attachment: fixed;
}

    .cont-sec .overlay {
        background: rgba(38, 57, 88, 0.89);
        min-height: 600px;
    }

    .cont-sec h1 {
        color: #fff;
        font-weight: 900;
        font-size: 30px;
        text-transform: uppercase;
        padding-top: 90px;
        padding-bottom: 35px;
    }

    .cont-sec h3 {
        text-transform: uppercase;
    }




/*=====================================
  COURSES STYLES
    ===================================*/


.cour-sec {
    padding-top: 10px;
    padding-bottom: 60px;
    background: url(../img/courses.jpg) no-repeat center center;
    padding: 0;
    -webkit-background-size: cover;
    background-size: cover;
    color: #fff;
    background-attachment: fixed;
}

    .cour-sec .overlay {
        background: rgba(38, 57, 88, 0.89);
        min-height: 600px;
    }

    .cour-sec h1 {
        color: #fff;
        font-weight: 900;
        font-size: 30px;
        text-transform: uppercase;
        padding-top: 90px;
        padding-bottom: 35px;
    }

    .cour-sec h3 {
        text-transform: uppercase;
    }


/*=====================================
  PROGRESS STYLES
    ===================================*/


.prog-sec {
    padding-top: 10px;
    padding-bottom: 60px;
    background: url(../img/progress.jpg) no-repeat center center;
    padding: 0;
    -webkit-background-size: cover;
    background-size: cover;
    color: #fff;
    background-attachment: fixed;
}

    .prog-sec .overlay {
        background: rgba(38, 57, 88, 0.89);
        min-height: 600px;
    }

    .prog-sec h1 {
        color: #fff;
        font-weight: 900;
        font-size: 30px;
        text-transform: uppercase;
        padding-top: 90px;
        padding-bottom: 35px;
    }

    .prog-sec h3 {
        text-transform: uppercase;
    }

/*=====================================
  LOGGED_IN STYLES
    ===================================*/


.logged_in-sec {
    padding-top: 10px;
    padding-bottom: 60px;
    background: url(../img/logged_in.jpg) no-repeat center center;
    padding: 0;
    -webkit-background-size: cover;
    background-size: cover;
    color: #fff;
    background-attachment: fixed;
}

    .logged_in-sec .overlay {
        background: rgba(38, 57, 88, 0.89);
        min-height: 600px;
    }

    .logged_in-sec h1 {
        color: #fff;
        font-weight: 900;
        font-size: 30px;
        text-transform: uppercase;
        padding-top: 90px;
        padding-bottom: 35px;
    }

    .logged_in-sec h3 {
        text-transform: uppercase;
    }



/*=====================================
  HOME STYLES
    ===================================*/


.home-sec {
    padding-top: 10px;
    padding-bottom: 60px;
    background: url(../img/header.jpg) no-repeat center center;
    padding: 0;
    -webkit-background-size: cover;
    background-size: cover;
    color: #fff;
    background-attachment: fixed;
}

    .home-sec .overlay {
        background: rgba(38, 57, 88, 0.89);
        min-height: 600px;
    }

    .home-sec h1 {
        color: #fff;
        font-weight: 900;
        font-size: 30px;
        text-transform: uppercase;
        padding-top: 90px;
        padding-bottom: 35px;
    }

    .home-sec h3 {
        text-transform: uppercase;
        padding: 15px;
    }



.set-flexi {
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0);
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0);
    -o-box-shadow: 0 1px 4px rgba(0, 0, 0, 0);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0);
    background-color: transparent;
    border: 0px solid #000;
    padding-top: 120px;
}

.flex-control-nav {
    display: none!important;
}

.set-flexi a {
    margin: 5px;
}
/*=====================================
  TAG LINE STYLES 
    ===================================*/


.tag-line {
    background: #E9E9E9;
    color: #000;
}

    .tag-line h2 {
        font-size: 20px;
        font-weight: 900;
        padding: 5px 10px 10px 5px;
        color: #005E5A;
    }

        .tag-line h2 > i {
            margin-left: 8px;
            margin-right: 8px;
        }
/*=====================================
  HEADER LINE STYLES 
    ===================================*/
.header-line {
    font-weight: 900;
    font-size: 25px;
    padding-bottom: 5px;
    padding-top: 25px;
    color: #000;
}

h1::after {
    content: " ";
    border: solid 2px #2f9484;
    display: block;
    width: 200px;
    margin: 12px auto;
}

/*=====================================
  ABOUT STYLES 
  ===================================*/
.about-div {
    padding: 30px;
}

.icon-round-border {
    border: 10px double #1A94C4;
    color: #2f9484;
    text-align: center;
    padding-top: 15px;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    cursor: pointer;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

    .icon-round-border:hover {
        color: #fff;
        border: 10px double #fff;
        background-color: #1A94C4;
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s;
    }

.about-div hr {
    border: 1px solid #1A94C4;
}

.about-div h3 {
    font-size: 25px;
    font-weight: 700;
    text-transform: uppercase;
}

.about-div p {
    padding-top: 10px;
}

.btn-set {
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    margin-bottom: 20px;
}
/*=====================================
  FACULTY STYLES 
  ===================================*/
#faculty-sec {
    background-color: #000;
    color: #fff;
}

    #faculty-sec .header-line {
        color: #fff;
    }
.faculty-div h4 {
    line-height:30px;
    font-weight:700;
}
.faculty-div {
    padding: 30px;
}

    .faculty-div hr {
        border: 1px solid #1A94C4;
    }

    .faculty-div h3 {
        font-size: 25px;
        font-weight: 700;
        text-transform: uppercase;
    }

    .faculty-div p {
        padding-top: 10px;
        padding-bottom: 15px;
    }

    .faculty-div img {
        border: 10px double #fff;
    }

/*=====================================
  CONTACT STYLES 
  ===================================*/
#contact-sec {
    padding-top: 10px;
    padding-bottom: 60px;
    background: url(../img/contact.jpg) no-repeat center center;
    padding: 0;
    -webkit-background-size: cover;
    background-size: cover;
    color: #fff;
    background-attachment: fixed;
}

#contact-sec .overlay {
        background: rgba(0, 0, 0, 0.76);
        min-height: 600px;
    }

    #contact-sec h1 {
        color:#fff;
    }
#contact-sec .form-control{
    background-color:rgba(28, 43, 75, 1);
    color:#fff;
}

/*=====================================
  LOGIN STYLES
    ===================================*/


.login-sec {
    padding-top: 10px;
    padding-bottom: 60px;
    background: url(../img/login.jpg) no-repeat center center;
    padding: 0;
    -webkit-background-size: cover;
    background-size: cover;
    color: #fff;
    background-attachment: fixed;
}

    .login-sec .overlay {
        background: rgba(38, 57, 88, 0.89);
        min-height: 600px;
    }

    .login-sec h1 {
        color: #fff;
        font-weight: 900;
        font-size: 30px;
        text-transform: uppercase;
        padding-top: 90px;
        padding-bottom: 35px;
    }

    .login-sec h3 {
        text-transform: uppercase;
        padding: 15px;
    }




/*=====================================
  Footer STYLES 
  ===================================*/
#footer {
    padding:5px 20px;
    background-color: rgba(28, 43, 75, 1);
    text-align:center;
    color:#fff;
    font-size:15px;
}